<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Чат</title>
        <meta name="description" content="chat on vue.js, node.js and socket.io">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="mx-auto">
                    <div v-if="ready">
                        <p v-for="user in info">
                            {{user.username}} {{user.type}}
                        </p>
                    </div>
                    <div v-if="!ready" class="mt-5 card">
                        <h3 class="card-title text-center my-5 font-italic">ChatApp</h3>
                        <img src="https://cdn.pixabay.com/photo/2016/11/30/18/14/chat-1873543_1280.png" class="card-img-top mx-auto" style="width: 18rem;"> 
                        <h5 class="card-title text-center mt-2">Введите ваше имя</h5>
                        <form class="mt-2 card-body">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control text-center" aria-label="Text input with checkbox" 
                                placeholder="Введите имя пользователя" v-model="username">
                                <div class="input-group-prepend" v-if=" username !== null && username !== '' " title="Войти">
                                    <div class="input-group-text">
                                      <input type="checkbox" v-on:click.once="addUser">
                                    </div>
                                  </div>
                            </div>
                        </form>
                      </div>
                    <h3 class="text-center mt-5 mb-2" v-else>{{username}}</h3>
                    <div class="card bg-info" v-if="ready">
                        <div class="card-header text-white">
                            <h4 v-if="this.connections == 1">Чат<span class="float-right">{{connections}} участник</span></h4>
                            <h4 v-else-if="this.connections > 4">Чат<span class="float-right">{{connections}} участников</span></h4>
                            <h4 v-else>Чат<span class="float-right">{{connections}} участника</span></h4>
                        </div>
                        <ul class="list-group list-group-flush text-right">
                            <small v-if="typing" class="text-white">{{typing}} печатает</small>
                            <div  v-if="typing" class="spinner-grow text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <li class="list-group-item" v-for="message in messages">
                                <span :class="{'float-left':message.type === 1}">
                                    {{message.message}}
                                    <small>:  {{message.user}}</small>
                                </span>
                            </li>
                        </ul>
                        <div class="card-body">
                            <form @submit.prevent="send">
                                <div class="input-group mb-3">
                                    <input required type="text" class="form-control" v-model="newMessage" placeholder="Введите сообщение здесь" aria-label="Введите сообщение здесь" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                      <button v-if=" newMessage !== null " class="btn btn-light" type="button" id="button-addon2" v-on:click="send">Отправить</button>
                                    </div>
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
    let socket = io();
    let vue = new Vue({
        el: '#app',

        data: {
            newMessage: null,
            messages: [],
            typing: false,
            username: null,
            ready: false,
            info: [],
            connections: 0,
        },

        created() {
            window.onbeforeunload = () => {
                socket.emit('leave', this.username);
            }
            
            socket.on('chat-message', (data) => {
                this.messages.push({
                    message: data.message,
                    type: 1,
                    user: data.user,
                });
            });

            socket.on('typing', (data) => {
                this.typing = data;
            });


            socket.on('stopTyping', () => {
                this.typing = false;
            });

            socket.on('joined', (data) => {
                this.info.push({
                    username: data,
                    type: 'вошёл в чат'
                });

                setTimeout(() => {
                    this.info = [];
                }, 5000);
            });

            socket.on('leave', (data) => {
                this.info.push({
                    username: data,
                    type: 'покинул чат'
                });

                setTimeout(() => {
                    this.info = [];
                }, 5000);
            });

            socket.on('connections', (data) => {
                this.connections = data;
            });
        },

        watch: {
            newMessage(value) {
                value ? socket.emit('typing', this.username) : socket.emit('stopTyping')
            }
        },

        methods: {
            send() {
                      
                if(this.newMessage.trim !==""){
                
                    this.messages.push({
                    message: this.newMessage,
                    type: 0,
                    user: 'Вы',
                });
            
                socket.emit('chat-message', {
                    message: this.newMessage,
                    user: this.username
                });
                this.newMessage = null;
            };
            },

            addUser() {
                this.ready = true;
                socket.emit('joined', this.username)
            }
        },

    });
</script>

</html>